body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}


.App {
  font-family: 'Courier New', Courier, monospace;
}

.hide {
    display: none;
}


.header-container {
  width: 100%;
  height: 10%;
  background-color: rgb(250, 235, 215);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-form-container {
    position: absolute;
    width: 20em;
    margin-right: 1em;
    right: 0;
}

.add-form-container form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.account-container {
    width: 90%;
    height: fit-content;
}

.account-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    cursor: pointer;
}

.account-header {
    display: flex;
}

.report-container {
    background-color: aqua;
    width: 100%;
    height: fit-content;
}

.item-container {
    display: flex;
    width: 80%;
    border: 1px solid black;
}

.item-container div {
    width: 25%;
    height: fit-content;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container form {
    padding: 5px;
}

.item-container input {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    outline: none;
    border: none;
    padding: 0;
}

.item-container input:focus {
    background-color: rgb(255, 255, 255);
}